<div class="app-title">Welcome to EMIS</div>
<div class="actions">
	<div class="notification">
		<i class="fa-solid fa-bell" alt="Notification Icon">
			<div class="red-circle"></div>
		</i>
	</div>
	<div class="profile">
		<i class="fa-solid fa-user-tie" alt="Profile Picture"></i>
	</div>
</div>