<div class="nav-scrollable">
	<nav class="d-flex flex-column h-100">
		<h1>EMIS Dashboard</h1>
		<ul>
			<li>
				<i class="fa-solid fa-table-columns" alt="Dashboard Icon"></i>
				Dashboard
			</li>
			<li>
				<i class="fa-solid fa-list-check" alt="Assignments Icon"></i>
				Assignments
			</li>
			<li>
				<i class="fa-solid fa-comment" alt="Community Icon"></i>
				Community
			</li>
			<li>
				<i class="fa-solid fa-gears" alt="Settings Icon"></i>
				Settings
			</li>
		</ul>
		<!-- Button Component -->
		<button class="special-button mt-auto">Logout</button>
	</nav>
</div>

