/* Sidebar */
.sidebar {
    background-color: var(--primary-color);
    color: var(--text-color);
    height: 100vh;
    padding: 20px;
}

    .sidebar h1 {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .sidebar ul {
        list-style-type: none;
        padding-left: 0;
    }

    .sidebar li {
        padding: 15px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

        .sidebar li i {
            margin-right: 15px;
        }

        .sidebar li:hover {
            background-color: var(--secondary-color);
            padding-left: 10px;
            transition: all 0.3s ease;
        }

@media (min-width: 641px) {
    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
}
