<div class="sidebar">
	<nav class="d-flex flex-column h-100">
		<h1>EMIS Dashboard</h1>
		<ul>
			<li>
				<a href="/dashboard">
					<i class="fa-solid fa-table-columns" alt="Dashboard Icon"></i>
					Dashboard
				</a>
			</li>
			<li>
				<i class="fa-solid fa-list-check" alt="Assignments Icon"></i>
				Assignments
			</li>
			<li>
				<i class="fa-solid fa-comment" alt="Community Icon"></i>
				Community
			</li>
			<li>
				<i class="fa-solid fa-gears" alt="Settings Icon"></i>
				Settings
			</li>
			<li>
				<a href="/manage-entities">
					<i class="fa-solid fa-tasks" alt="Tasks Icon"></i>
					Manage
				</a>
			</li>
		</ul>
		<!-- Button Component -->
		<a class="special-button mt-auto" href="/login">Logout</a>
	</nav>

</div>