<EditForm Model="@newCourse" OnValidSubmit="AddCourse" class="manage-entities-form">
    <FluentValidationValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <InputText id="title" class="form-control" @bind-Value="newCourse.Title" />
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <InputTextArea id="description" class="form-control" @bind-Value="newCourse.Description" />
    </div>

    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <InputText id="category" class="form-control" @bind-Value="newCourse.Category" />
    </div>

    <div class="mb-3">
        <label for="level" class="form-label">Level</label>
        <InputText id="level" class="form-control" @bind-Value="newCourse.Level" />
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <InputNumber id="price" class="form-control" @bind-Value="newCourse.Price" />
    </div>

    <div class="mb-3">
        <label for="hours">Duration in Hours:</label>
        <InputNumber id="hours" @bind-Value="newCourseDurationHours" min="0" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
