@namespace StudentsAffairsWASM.Auto.Client.Components

<InputSelect @bind-Value="selectedRole" class="form-control">
	<option value="">-- Select Role --</option>
	<option value="Student">Student</option>
	<option value="Tutor">Tutor</option>
	<option value="Admin">Admin</option>
</InputSelect>

@if (selectedRole == "Student")
{
	<ViewStudentTable/>
}
else if (selectedRole == "Tutor")
{
	<ViewTutorTable />
}
else if (selectedRole == "Admin")
{
	<ViewAdminTable />
}
