<div class="app-bar d-flex justify-content-between align-items-center">
	<div class="app-title">Welcome to EMIS</div>
	<div class="actions">
		<div class="notification">
			<i class="fa-solid fa-bell" alt="Notification Icon"></i>
			<div class="red-circle"></div>
		</div>
		<div class="profile">
			<i class="fa-solid fa-user-tie" alt="Profile Picture"></i>
		</div>
	</div>
</div>