@inherits LayoutComponentBase

<div class="page">
	<NavMenu />
	<main>
		<AppBar />
		<article class="container mt-4 content-grid">
			@Body
		</article>
	</main>
</div>


<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>