@page "/"

<PageTitle>Dashboard</PageTitle>

<div class="row h-100">
	<div class="col-md-8 h-100">
		<div class="content-box calendar">Calendar</div>
		<div class="content-box courses">Courses & Study Material</div>
	</div>

	<div class="col-md-4">
		<div class="content-box todo">To-Do & Notes</div>
	</div>
</div>
